
 
 <div class="home">

   <div id="welcome-txt">You'r Stock Control</div>
   <div id="low-stock">
   
     <% if @albums.length > 0 %>
     <h3 style="color:red">Low Stock</h3>
     <table id="low-stock-table">
     <tr>
       <td>Artist</td>
       <td>Album Title</td>
       <td>Stock</td>
     </tr>
        <% @albums.each do |album| %>
           <% artist = album.artist %>
           <tr>
             <td><%= artist.name %></td>
             <td><%= album.name %></td>
             <td><%= album.stock %></td>
           </tr>
        <% end %>
      </table>
     <% end %>
   </div>
   </div>

