<header>
<h1>Stock Control</h1>
  <nav>
    <ul>
      <li class="selected"><a href="/">Home</a></li>
      <li><a href="/stock">Stock</a></li>
    </ul>
  </nav>
</header>
 <div class="container">
   

 </div>