<div class="wrong_search">

<p>Unfonutrelly <strong><u><%= @name %></u></strong> wasn't find.</p>
<p>You can repeat your search</p>
<div>
  <form action="/stock/search" method="get">
    <input type="text" name="search-text">
    <button type="submit">Search</button>
  </form>
</div>

<p>Or you can add missing item</p>

<div>

    <div >
    <h2>Add Record</h2>

    <form action="/stock" method='post' >


            <label for="artist_id">Artist:</label><br>
            <input list="artists" type="text" name="artist_name">
            <datalist id="artists">

            <% @artists.each do |artist|%>
              <option name="artist" value="<%= artist.name%>"><%= artist.name%></option>
            <% end %>
            </datalist><br>

            <label for="name">Name:</label><br>
            <input type="text" name="name"><br>

            <label for="genre">Genre:</label><br>
            <input type="text" name="genre"><br>

            <label for="price_buying">Price Buying:</label><br>
            <input type="text" name="price_buying"><br>

            <label for="price_selling">Price Selling:</label><br>
            <input type="text" name="price_selling"><br>

            <label for="stock">Stock:</label><br>
            <input type="text" name="stock"><br>

            <input type="submit" value="save">
              
            </form>
    </div>
    </div>
