* {
  margin: 0;
}

header {
  text-align: center;
  padding-top: 10px;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  color: #C6C1CC;
  margin-bottom: 15px;
}

header nav a {
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: 'Lilita One', cursive;
  text-decoration: none;
}

header nav li {
  display: inline-block;
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-right: 40px;
}

ul {
  list-style-type: none;
}

.home {
  background-image: url("key.jpg");
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: 20% 0;
  height: 550px;
  line-height: 1.7em;
}

.stats {
  width: 30%;
  float: right;
  margin-right: 12%;
  margin-top: 100px;

}

.search {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.search input {
  dispaly: block;
  height: 25px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.1)
}

.search button {
  width: 65px;
  margin-left: 20px;
  height: 25px;
  border: 2px solid;
  background-color: white;
  border-radius: 5px;
}

.stock h3 {
  text-align: center;
  width: 10%;
  margin: 0 auto;
  margin-top: 35px;
}

.stock nav {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 45px;
  width: 39%;
}

.stock nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.artist {
  font-weight: bold;
  font-size: 1.3em;
}

.artist-container {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.artist-container a,
 table a  {
  color: purple;
  text-decoration: none;
}

.artist-container button,
table button {
  border: none;
  background-color: white;
  color: purple;
  cursor: pointer;
}



.stock table {
 margin: 0 auto;
 padding: 5px;
 text-align: center;
 margin-bottom: 10px;
}

.stock table th {
  padding: 7px;
  color:  #787878;

}

.stock table td { 
    margin-bottom: 15px;
    margin-left: 15px;
  }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.selected a{
  color: white;
}

hr {
  width: 25%;
  margin: 0 auto;
  box-shadow: 3px 3px 10px;
}

.artist-new-container,
.artist-edit-container {
  height: 550px;
  background-image: url("preview.jpg");
  background-size: 60%;
  background-position: right;
  border: 1px solid white;
  background-repeat: no-repeat;
}

.artist-new ,
.artist-edit{
  width: 20%;
  margin-top: 150px;
  margin-left: 250px;
  text-align: center;
}

.artist-new h2,
.album-new h2 {
  margin-bottom: 10px;
  letter-spacing: .1em;
}

.artist-new input,
.artist-edit input {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  background-color: rgba(0,0,0,.1)
}

.album-new-container,
.album-edit-container {
  border: 1px solid;
  height: 550px;
  background-image: url("note.jpg");
  background-size: 60%;
  background-position: right;
  border: 1px solid white;
  background-repeat: no-repeat;
}

.album-new,
.album-edit {
  width: 25%;
  margin-top: 150px;
  margin-left: 250px;
}

.album-new input,
.album-edit input {
  font-size: 1em;
  background-color: rgba(0,0,0,.1)
  margin-bottom: 5px;
  margin-top: 5px;
}

.low-stock {
  color: red;
}




















