* {
  margin: 0;
}

header {
  background-color: #88858C;
  text-align: center;
  padding-top: 10px;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  color: #C6C1CC;
  margin-bottom: 15px;
}

header nav a {
  color: #4A484C;
  font-family: 'Lilita One', cursive;
  text-decoration: none;
}

header nav li {
  display: inline-block;
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-right: 40px;
}

ul {
  list-style-type: none;
}

.search {
  width: 30%;
  margin: 0 auto;
}

.search input {
  dispaly: block;
  height: 25px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.1)
}

.search button {
  width: 65px;
  margin-left: 20px;
  height: 25px;
  border: 2px solid;
  background-color: white;
  border-radius: 5px;
}

.stock h3 {
  width: 10%;
  margin: 0 auto;
  margin-top: 35px;
}

.stock nav {
  margin: 0 auto;
  margin-bottom: 45px;
  width: 60%;
}

.stock nav a {
  color: black;
}

.stock table {
 border: 1px solid;
 margin: 0 auto;
 padding: 5px;
}

.stock table td { 
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }

.container {
  width: 90%;
  border: 1px solid;
  margin: 0 auto;
  padding: 20px;
}

.selected a{
  color: white;
}

hr {
  margin-bottom: 25px;
}


















