<form action="/artists/<%= @artist.id %>" method="post">
 <input type="hidden" name="_method" value="put">
 <label for="name">Artist:</label>
 <input type="text" name="name" value="<%= @artist.name %>">

 <input type="submit" value="Save">
  
</form>