
<div class="album-new-container">
    <div class="album-new">
        <form action="/albums" method="post">

        <label for="artist_id">Artist:</label>
        <select name="artist_id">
        <% @artists.each do |artist|%>
          <option name="artist_id" value="<%= artist.id%>"><%= artist.name%></option>
        <% end %>
        </select><br>

        <label for="name">Name:</label><br>
        <input type="text" name="name"><br>

        <label for="genre">Genre:</label><br>
        <input type="text" name="genre"><br>

        <label for="price_buying">Price Buying:</label><br>
        <input type="text" name="price_buying"><br>

        <label for="price_selling">Price Selling:</label><br>
        <input type="text" name="price_selling"><br>

        <label for="stock">Stock:</label><br>
        <input type="text" name="stock"><br>

        <input type="submit" value="save">
          
        </form>
    </div>
</div>